body {
  margin:0;
 

  

}
div.middle{
   background-image: url("backimage.png");
}

*{
box-sizing: border-box;
z-index: 0;
}
.information , .magazine, .gallery{
font-family: b nazanin;
background-color: white;
font-size: 20px;


}

div.magazine{
text-align: center;


}
.information button{
background-color: white;
color: rgb(179,7,83);
margin-left: 80%;
margin-bottom: 200px;

font-family: b nazanin;
margin-top: 0;
padding: 15px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0,0,0,.16);
align-self: center;
    width: 180px;
    height: 50px;
    font-size: 15px;
    transition: all .3s ease;
    font-size: 20px;
}
.information button:hover{
  color: white;
  background-color: rgb(179,7,83);
}
.information h2,.magazine h2{
  background-color: white;
  padding: 0;    
  margin-left: 80%;
  color: rgb(179,7,83);
}
.information img{
 position: relative; 
height: :600px;
width: 600px;
}

.information p, .magazine p{
  height: 100px;
  float: right;
  margin-bottom: 0;
  color: gray;
  background-color: white;
}
.nav{

}
.nav ul {
  z-index: +1;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

.nav ul li {
  float: left;
  font-family: b nazanin;
  margin-right: 10px;
  overflow: auto;
}

#register{

	border-radius: 30px;
	border: 5px;
	margin-right:45px;
	background-color: rgb(179,7,83);
	color: white;
  text-decoration: none;

}

#register:hover{
background-color: white;	
color: rgb(179,7,83);
border-color: rgb(179,7,83);
border:solid 1px;


}


.nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover	 {
  text-decoration: underline;
  color: rgb(179,7,83);
}


 input[type=text] {
  width: 100%;
  display: relative;
  max-width: 25%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  padding: 25px 20px 2px 40px;
}



.search label{
  font-family: b nazanin;
  
  color: black;
  padding: 5px;

  border-radius: 12px;
  font-size: 30px;
  position: absolute;
  clear: both;
  top: 150px;
  left: 600px;
  
}

.search button {
position: relative;
font-family: b nazanin;
margin-top: 10px;
 margin-right:15px;
height: 50px;
width: 150px; 
top: 200px;
left: 500px;
background-color: rgb(0,0,0,0.5);
color:white;
border-radius: 30px;
font-size: 20px;

}
.search button:focus-within{
background-color: rgb(179,7,83);
color: white; 

}
.search button:hover{
background-color: rgb(0,0,0,0.6);
color: white; 

}

.more button:hover{
  background-color: rgb(179,7,83);
  color: white;
}
.more button{

position: relative;
color: rgb(179,7,83);
font-family: b nazanin;
height: 70px;
width: 150px; 
top: 500px;
left: 0;
border-radius: 30px;
font-size: 20px;
background-color: white;
color: rgb(179,7,83);
margin-left: 0%;
margin-bottom: 200px;

font-family: b nazanin;
margin-top: 0;

border-radius: 5px;
box-shadow: 0 3px 6px rgba(0,0,0,.16);
align-self: center;
    width: 180px;
    height: 50px;
    font-size: 15px;
    transition: all .3s ease;
    font-size: 20px;

}

.searchinput form{

background-color: rgb(0,0,0,0.4);
border-radius: 40px;
min-width: 45%;
width: 55%;
top: 20px;
display: inline-block;
position: relative;
 margin: 200px 200px 200px 50px;

 left: 25%;

}
.searchinput input{
min-width: 520px;

margin:15px 15px 15px 0; 
font-family: b nazanin;
text-align: center;
font-size: 20px;
border-style: none solid none none;
border-color: rgb(0,0,0,0.2);
margin-right: 10px;
border-radius: 20px;


}

.searchinput button{
  font-family: b nazanin; 
  margin-top: 10px; 
  margin-right: 0;
  margin-left: 10px;
 
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(179,7,83);
  
  background-position: 10px 10px; 
  background-repeat: no-repeat;
 


}
.searchinput   option{
  font-size: 20px;
  font-family: b nazanin;
  color:gray;
  background-color: white;


}
.searchinput   option:hover{
  font-size: 20px;
  font-family: b nazanin;
  color:rgb(179,7,83);
  background-color: gray;



}
select {
  font-size: 20px;
  font-family: b nazanin;
  color:rgb(179,7,83);
  margin: 0px;
  border: 0;
  padding-top: 0;

  background-color: white;
  border-radius: 14px;
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 490px;
  height: 55px;
  width: 120px;

  /* styling */
  background-color: white;
  border: 0;
  border-radius: 25px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

/*
{
  font-size: 20px;
  font-family: b nazanin;
  color:red;
  margin: 0px;
  border: 0;
  background-color: white;
  border-radius: 14px;
  font-size: 20px;
 
  top: 16px;
  left: 510px;
  height: 55px;
  width: 80px;
  content: url("location.png");
  
}*/

img.location{
  position: absolute;
   top: 17px;
  left: 580px;
  height: 56px;
  width: 100px;
background-color: rgb(0,0,0,0.8);
  border-radius:20px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 15%;
  top: 150px;
  bottom: 400px;
  position: relative;
  float: left;
   transition: transform .5s ease;
}


div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  height: auto;
  overflow: hidden;
  
}
div.gallery:hover img{
  transform: scale(1.02);
}

div.desc {
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

div.footer{
  position: relative;
  font-family: b nazanin;
  font-size: 20px;
  color: white;
  top: 600px;
  height: 700px;
 background-color:rgb(44,44,44);


}
div.footer ul{
   
   list-style-type: none;
  margin: 70px;
  clear: left;
  background-color: gray;
  width: 100%;
  display: block;
}
div.footer li {
margin-right:10px;
padding: 0px;
position: relative;
top: 50px;
float: left;
-webkit-font-smoothing: antialiased;
font-size: 18px;
list-style-type: none;
box-sizing: border-box;

text-decoration: none;
color: inherit;
cursor: pointer;
 float: left;
  font-family: b nazanin;
  margin-right: 10px;
  overflow: auto;
}
div.footer ul li a{
   display: block;
 color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.footer ul li a:hover{
color: gray;

}

.sn img{

  position: relative;
  left: 40px;
  border-radius: 50%;
  height: 70px;
  width: 70px;



}
#in:hover{
content: url("in-f.png");
}
#ig:hover{
content: url("ig-f.png");
}
#twitter:hover{
content: url("twitter-f.png");
}
#telegram:hover{
content: url("telegram-f.png");
}





div.sn{
  position: relative;
  top: 670px;
}

div.support{
  position: relative;
  top: 130px;
}

.support img{
  position: relative;
  right: 600px;
  border-radius: 10%;
  height: 70px;
  width: 70px;

}
div.end{
  position: relative;
  left: 300px;
  
}
div.end ul li a{
  color:gray;
  font-size: 16px;
}
div.end ul li a:hover{
 color: white;

}

div.footerimage{
position: relative;
  top: 130px;
  right: 50px;

}

.footerimage img{
 position: relative;
 background-color: gray;
  border-radius: 10%;

  

}

div.call{

  position: relative;
  top: 140px;
  left: 500px;
}

div.other{
  background-color: rgb(30,30,30);
  position: relative;
  top: 550px;
  height: 600px;
  width: 100%; 

}
#buy{
left: 90%;
top: 30px;
position: relative;
display: block;
font-family: b nazanin;
font-size: 20px;
color: rgb(100,100,100);

}
#b{
left: 50%;

position: relative;
display: block;
font-family: b nazanin;
font-size: 20px;
color: rgb(100,100,100);
}

div.other ul {
left: 1100px;

position: relative;
list-style-type: none;
font-size: 20px;
font-family: b nazanin;
color: rgb(10,10,50);
display: inline-block;


}
div.other ul li a{
  text-decoration: none;
  color: white;
  position: relative;
  right: 80px;

}

#c1{
left: 860px;

position: relative;
list-style-type: none;
font-size: 20px;
font-family: b nazanin;
color: rgb(10,10,50);
display: inline-block;

}

#c2{

  left: 850px;

position: relative;
list-style-type: none;
font-size: 20px;
font-family: b nazanin;
color: rgb(10,10,50);
display: inline-block;
}
#c3{
left: 190px;

position: relative;
list-style-type: none;
font-size: 20px;
font-family: b nazanin;
color: rgb(10,10,50);
display: inline-block;


}

#c4{
left: 200px;

position: relative;
list-style-type: none;
font-size: 20px;
font-family: b nazanin;
color: rgb(10,10,50);
display: inline-block;

}
div.right{
position: relative;
top: 550px;
background-color: black;
height: 50px;
text-decoration: none;
width: 100%;
color: gray;
font-family: b nazanin;
text-align: center;



}

.right a{
text-decoration: none;
color: white;
margin-left: 10px;
margin-right: 10px;
}